
@{
    Layout = null;
}

<link href="@Url.Content("~/Content/ReportStyle.css")" rel="stylesheet" />
<link media="print" href="@Url.Content("~/Content/ReportStyle.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/plugins/daterangepicker/daterangepicker.css")" rel="stylesheet" />

<div style="top:130px;margin-left:-15px; padding-left:0;padding-right:0;width:1200px; position:fixed;z-index:2030;">
    <div style="width:100%;padding: 2px;background: #f7f7f7;z-index: 1;border: 1px solid #dadada;display: table;clear: both;content:''">
        <div onclick="conditonChange()" style="float: left;border-left: 1px solid #dedcdc;margin-right: 8px;margin-left: 8px;">
            <div role="button" title="过滤" style="border-color:#ccc;border-radius:2px;cursor:pointer;line-height:36px;margin:0 1px;min-width:30px;padding:0 6px;position:relative;user-select:none;text-align:center;">
                <span class="fa fa-filter" style="font-size:16px;margin-top:1px;opacity:0.8;"></span>
            </div>
        </div>
        <div style="float: left;border-left: 1px solid #dedcdc;margin-right: 8px;margin-left: 8px;">
            <div role="button" onclick="myPrint()" title="打印" data-state="" style="border-color:#ccc;border-radius:2px;display:inline-block;cursor:pointer;line-height:36px;margin:0 1px;min-width:30px;padding:0 6px;position:relative;user-select:none;text-align:center;">
                <span class="fa fa-print" style="font-size:16px;margin-top:1px;opacity:0.8;"></span>
            </div>
            <div style="display:inline-block;position:relative;">
                <form id="formExport" action="@Url.Action("SingleExportExcel","Textile")" method="post">
                    <div disabled="disabled" id="btnExportExcel" title="导出" data-state="" style="border-color:#ccc;border-radius:2px;display:inline-block;cursor:pointer;line-height:36px;margin:0 1px;min-width:30px;padding:0 6px;position:relative;user-select:none;text-align:center;">
                        <span class="fa fa-floppy-o" style="font-size:16px;margin-top:1px;opacity:0.8;"></span>
                    </div>
                    <input type="hidden" id="hddTitle" name="hddTitle" value="" />
                    <input type="hidden" id="hddData" name="hddData" value="" />
                    <input type="hidden" id="hddCondition" name="hddCondition" value="" />
                    <input type="hidden" id="hddpx" name="hddpx" value="2" />
                </form>
            </div>
            <div role="button" title="分享" data-state="" style="border-color:#ccc;border-radius:2px;display:inline-block;cursor:pointer;line-height:36px;margin:0 1px;min-width:30px;padding:0 6px;position:relative;user-select:none;text-align:center;">
                <span class="fa fa-share-alt"></span>
            </div>
        </div>
    </div>
</div>
<div id="conditonPanel" style="position: fixed;top: 172px;float:left;width:250px;background-color:#F1F1F1;height:100%;margin-left:-15px;">
    <div style="padding:20px 10px;">

        <div class="form-group">
            <span class="conditionTitle">流通品牌：</span>
        </div>
        <div class="form-group">
            <select class="form-control" id="brandId">
                @{
                    var brandList = ViewData["BrandList"] as List<ETexsys.Model.brandtype>;
                    if (brandList.Count > 0)
                    {
                        <option value="0">所有</option>
                    }
                    foreach (var item in brandList)
                    {
                        <option value="@item.ID">@item.BrandName</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <span class="conditionTitle">洗涤次数间隔：</span>
        </div>
        <div class="form-group">
            <div class="input-group" style="width: 230px;">
                <select class="form-control" id="Washtimes">
                      <option value="0">所有</option>
                    <option value="0-20">20次</option>
                    <option value="21-40">40次</option>
                    <option value="41-60">60次</option>
                    <option value="61-80">80次</option>
                    <option value="81-100">100次</option>
                    <option value="101-120">120次</option>
                    <option value="121-140">140次</option>
                    <option value="140次以上">140次以上</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <button id="btnSearch" type="button" class="btn btn-success" style="width:230px;height:35px;"><i class="fa fa-search"></i>查询</button>
        </div>
    </div>
</div>
<div id="dc" class="row wrapper animated fadeInRight" style="overflow-x:auto;background: #FFF;padding-left:0;padding-right:0;height:100%;width:calc(100% - 220px);float:right;margin-top:110px;">
    <div id="print" style="width:1200px;">
        <span id="title" style="font-size:24px;font-family:'Microsoft YaHei';font-weight:bold;margin:20px 0px 0 0; display:inline-block;">租赁布草洗涤次数分析表</span>
        <div id="condition" style="margin-left:20px;">
            <div id="leftConditon" style="float:left;"></div>
            <div id="rightConditon" style="float:right;"></div>
        </div>
        <table id="dataReport" style="border-collapse: collapse;font-size:14px;font-family:'Microsoft YaHei';color:#333;margin:20px;" cellpadding="0" cellspacing="0"></table>
    </div>
</div>

<script src="@Url.Content("~/Scripts/plugins/daterangepicker/moment.js")"></script>
<script src="@Url.Content("~/Scripts/plugins/daterangepicker/daterangepicker.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.jqprint-0.3.js")"></script>
<script>
    $("#dc").height(document.body.clientHeight - 180);
    $(document.body).css({
        "overflow-y": "hidden"
    });

    window.onresize = function () {
        $("#dc").height(document.body.clientHeight - 180);

        $(document.body).css({
            "overflow-y": "hidden"
        });
    }


    function conditonChange() {
        if ($("#conditonPanel").is(":hidden")) {
            $("#dc").css("width", "calc(100% - 220px)");
            $("#conditonPanel").show();
        } else {
            $("#dc").css("width", "100%");
            $("#conditonPanel").hide();
        }
    }

    $(document).ready(function () {

    });
    $("#btnSearch").on("click", function () {
        var _url = "@Url.Action("TextileWashtimesQuery", "Textile")";
        var datatable = "[";
        $.ajax({
            type: "post",
            data: {
                brandId: $("#brandId").val(), Washtimes: $("#Washtimes").val(),
            },
            url: _url,
            success: function (result) {
                var bodyHtml = "<tbody>";
                var headerHtml = '<thead><tr  style="background-color:#E8F7FE;color:#0294DD;">';
                var isAppendHeader = false;
                $.each(result[0], function (i, item) {
                    if(i==0){
                        $.each(item, function (j, val) {
                            if(j=="品名"){
                                headerHtml += '<td  class="lefttxt" style="height:35px;width:120px;">' + j + '</td>'
                            } else {
                                if(j!="ID"){
                                    headerHtml += '<td  class="righttxt" style="height:35px;width:120px;">' + j + '</td>'
                                }
                            }
                        });
                    }
                    if (i % 2 == 0) {
                        bodyHtml += ' <tr class="eventr">';
                    } else {
                        bodyHtml += ' <tr class="oddtr">'
                    }
                    datatable += "{";
                    $.each(item, function (j, val) {
                        if (val == 0||val==null) {
                            val = "";
                        }
                        if(j=="品名"){
                            bodyHtml += "<td  class='lefttxt' style='border:1px solid #CCC;height:35px;'>" + numFormat(val) + "</td>";
                            datatable += "\"" + j + "\":\"" + val + "\",";
                        } else {
                            if (j != "ID") {
                                var min = 0;
                                $.each(result[1], function (i2, item2) {
                                    if (item2.ID == item.ID && item.最小洗涤次数==0) {
                                        min = item2.最小洗涤次数;
                                    }
                                });
                                if (j == "最小洗涤次数" && val == 0) {
                                    if (min == 0 || min == null) {
                                        min = "";
                                    }
                                    bodyHtml += "<td class='righttxt' style=';border:1px solid #CCC;height:35px;'>" + numFormat(min) + "</td>";
                                    datatable += "\"" + j + "\":\"" + min + "\",";
                                } else {
                                    bodyHtml += "<td class='righttxt' style=';border:1px solid #CCC;height:35px;'>" + numFormat(val) + "</td>";
                                    datatable += "\"" + j + "\":\"" + val + "\",";
                                }
                            }
                        }
                    });
                    datatable = datatable.substring(0, datatable.length - 1);
                    datatable += "},"
                    bodyHtml += "</tr>";
                });
                bodyHtml += "</tbody>";
                headerHtml += "</tr></thead>";
                datatable = datatable.substring(0, datatable.length - 1);
                datatable += "]";
                $("#dataReport").children().remove();
                $("#dataReport").append(headerHtml + bodyHtml);

                var totalwidth = $("#dataReport").width();
                var dtWidth = totalwidth < 500 ? 500 : totalwidth;
                $("#title").css("margin-left", ((dtWidth - 130) / 2).toString() + "px");
                $("#dataReport").css("width", dtWidth);
                $("#condition").css("width", dtWidth);
                $("#leftConditon").html("流通品牌：" + $("#brandId").find("option:selected").text());
                $("#rightConditon").html("截止时间：" + "@ViewBag.time");

                $("#hddCondition").val($("#leftConditon").text() + "|" + $("#rightConditon").text());
                $("#hddTitle").val("租赁布草洗涤次数分析表");
                $("#hddData").val(datatable);

                $("#btnExportExcel").removeAttr("disabled");
            }
        })
    });

    $("#btnSearch").click();

    $("#btnExportExcel").on("click", function () {
        document.getElementById("formExport").submit();
    });

    function myPrint(obj) {
        $("#print").jqprint({
        });
    }
    //格式数字
    function numFormat(num) {
        if (!isNaN(num)) {
            num = num.toString().split(".");  // 分隔小数点
            var arr = num[0].split("").reverse();  // 转换成字符数组并且倒序排列
            var res = [];
            for (var i = 0, len = arr.length; i < len; i++) {
                if (i % 3 === 0 && i !== 0) {
                    res.push(",");   // 添加分隔符
                }
                res.push(arr[i]);
            }
            res.reverse(); // 再次倒序成为正确的顺序
            if (num[1]) {  // 如果有小数的话添加小数部分
                res = res.join("").concat("." + num[1]);
            } else {
                res = res.join("");
            }
            return res;
        } else {
            return num;
        }
    }
</script>