
@{
    Layout = "";
}


<link href="@Url.Content("~/Content/ReportStyle.css")" rel="stylesheet" />
<link media="print" href="@Url.Content("~/Content/ReportStyle.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/plugins/daterangepicker/daterangepicker.css")" rel="stylesheet" />
<style>
    #dataReport tr, td {
        border: 1px solid #ccc;
         
    }
   
    
</style>

<div style="top:130px;margin-left:-15px; padding-left:0;padding-right:0;width:100%; position:fixed;z-index:2030;">
    <div style="width:100%;padding: 2px;background: #f7f7f7;z-index: 1;border: 1px solid #dadada;display: table;clear: both;content:''">
        <div onclick="conditonChange()" style="float: left;border-left: 1px solid #dedcdc;margin-right: 8px;margin-left: 8px;">
            <div role="button" title="过滤" style="border-color:#ccc;border-radius:2px;cursor:pointer;line-height:36px;margin:0 1px;min-width:30px;padding:0 6px;position:relative;user-select:none;text-align:center;">
                <span class="fa fa-filter" style="font-size:16px;margin-top:1px;opacity:0.8;"></span>
            </div>
        </div>
        <div style="float: left;border-left: 1px solid #dedcdc;margin-right: 8px;margin-left: 8px;">
            <div role="button" onclick="myPrint()" title="打印" data-state="" style="border-color:#ccc;border-radius:2px;display:inline-block;cursor:pointer;line-height:36px;margin:0 1px;min-width:30px;padding:0 6px;position:relative;user-select:none;text-align:center;">
                <span class="fa fa-print" style="font-size:16px;margin-top:1px;opacity:0.8;"></span>
            </div>
            <div style="display:inline-block;position:relative;">
                <form id="formExport" action="@Url.Action("Receive_SendExportExcel","ParseTable")" method="post">
                    <div disabled="disabled" id="btnExportExcel" title="导出" data-state="" style="border-color:#ccc;border-radius:2px;display:inline-block;cursor:pointer;line-height:36px;margin:0 1px;min-width:30px;padding:0 6px;position:relative;user-select:none;text-align:center;">
                        <span class="fa fa-floppy-o" style="font-size:16px;margin-top:1px;opacity:0.8;"></span>
                    </div>
                    <input type="hidden" id="hddTitle" name="hddTitle" value="" />
                    <input type="hidden" id="hddData" name="hddData" value="" />
                    <input type="hidden" id="hddCondition" name="hddCondition" value="" />
                    <input type="hidden" id="hddpx" name="hddpx" value="2" />
                    
                </form>
            </div>
            <div role="button" title="分享" data-state="" style="border-color:#ccc;border-radius:2px;display:inline-block;cursor:pointer;line-height:36px;margin:0 1px;min-width:30px;padding:0 6px;position:relative;user-select:none;text-align:center;">
                <span class="fa fa-share-alt"></span>
            </div>
        </div>
    </div>
</div>
<div id="conditonPanel" style="position: fixed;top: 172px;float:left;width:250px;background-color:#F1F1F1;height:100%;margin-left:-15px;">
    <div style="padding:20px 10px;">

        <div class="form-group">
            <span class="conditionTitle">流通品牌：</span>
        </div>
        <div class="form-group">
            <select class="form-control" id="brandId">
                @{
                    var brandList = ViewData["BrandList"] as List<ETexsys.Model.brandtype>;
                    if (brandList.Count > 0)
                    {
                        <option value="0">所有</option>
                    }
                    foreach (var item in brandList)
                    {
                        <option value="@item.ID">@item.BrandName</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <span class="conditionTitle">时间：</span>
        </div>
        <div class="form-group">
            <div class="input-group" style="width: 230px;">
                <input type="text" class="form-control date-picker" id="dateTimeRange" value="" />
                <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                </span>
                <input type="hidden" name="beginTime" id="beginTime" />
                <input type="hidden" name="endTime" id="endTime" />
            </div>
        </div>
        <div class="form-group">
            <button id="btnSearch" type="button" class="btn btn-success" style="width:230px;height:35px;"><i class="fa fa-search"></i>查询</button>
        </div>
    </div>
</div>
<div id="dc" class="row wrapper animated fadeInRight" style="overflow-x:auto;background: #FFF;padding-left:0;padding-right:0;height:100%;width:calc(100% - 220px);float:right;margin-top:110px;">
    <div id="print" style="width:1300px">
        <span id="title" style="font-size:24px;font-family:'Microsoft YaHei';font-weight:bold;margin:20px 0px 0 0; display:inline-block;">布草洗涤频率对比分析表</span>
        <div id="condition" style="margin-left:20px;">
            <div id="leftConditon" style="float:left;"></div>
            <div id="rightConditon" style="float:right;"></div>
        </div>
        <table id="dataReport" style="border-collapse: collapse;font-size:14px;font-family:'Microsoft YaHei';color:#333;margin:20px;" cellpadding="0" cellspacing="0"></table>
    </div>
</div>

<script src="@Url.Content("~/Scripts/plugins/daterangepicker/moment.js")"></script>
<script src="@Url.Content("~/Scripts/plugins/daterangepicker/daterangepicker.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.jqprint-0.3.js")"></script>
<script>
    $("#dc").height(document.body.clientHeight - 180);
    $(document.body).css({
        "overflow-y": "hidden"
    });

    window.onresize = function () {
        $("#dc").height(document.body.clientHeight - 180);

        $(document.body).css({
            "overflow-y": "hidden"
        });
    }
    function conditonChange() {
        if ($("#conditonPanel").is(":hidden")) {
            $("#dc").css("width", "calc(100% - 220px)");
            $("#conditonPanel").show();
        } else {
            $("#dc").css("width", "100%");
            $("#conditonPanel").hide();
        }
    }

    $(document).ready(function () {

        $('#dateTimeRange').daterangepicker({
            applyClass: 'btn-sm btn-success',
            cancelClass: 'btn-sm btn-default',
            locale: {
                applyLabel: '确认',
                cancelLabel: '取消',
                fromLabel: '起始时间',
                toLabel: '结束时间',
                customRangeLabel: '自定义',
                firstDay: 1
            },
            ranges: {
                '今日': [moment().startOf('day'), moment()],
                '昨日': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
                '最近7日': [moment().subtract('days', 6), moment()],
                '最近30日': [moment().subtract('days', 29), moment()],
                '本月': [moment().startOf("month"), moment().endOf("month")],
                '上个月': [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
            },
            startDate: moment().startOf("month"),
            endDate: moment().endOf("month"),
            opens: 'right',    // 日期选择框的弹出位置
            separator: ' 至 ',
            showWeekNumbers: false,     // 是否显示第几周
            locale: {
                applyLabel: '确定',
                cancelLabel: '取消',
                fromLabel: '起始时间',
                toLabel: '结束时间',
                customRangeLabel: '自定义',
                daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                        '七月', '八月', '九月', '十月', '十一月', '十二月'],
                firstDay: 1
            },

            format: 'YYYY/MM/DD'

        }, function (start, end, label) { // 格式化日期显示框
            $('#beginTime').val(start.format('YYYY-MM-DD'));
            $('#endTime').val(end.format('YYYY-MM-DD'));
        })
       .next().on('click', function () {
           $(this).prev().focus();
       });
    });
    function MyShows(id) {
        $("#brandId").val(id);
        $("#btnSearch").click();
    }
    function DateMinus(sDate,eDate) {
        var sdate = new Date(sDate.replace(/-/g, "/"));
        var now = new Date(eDate.replace(/-/g, "/"));
        var days = now.getTime() - sdate.getTime();
        var day = parseInt(days / (1000 * 60 * 60 * 24));
        return day;
    }

    function numFormat(num) {
        num = num.toString().split(".");  // 分隔小数点
        var arr = num[0].split("").reverse();  // 转换成字符数组并且倒序排列
        var res = [];
        for (var i = 0, len = arr.length; i < len; i++) {
            if (i % 3 === 0 && i !== 0) {
                res.push(",");   // 添加分隔符
            }
            res.push(arr[i]);
        }
        res.reverse(); // 再次倒序成为正确的顺序
        if (num[1]) {  // 如果有小数的话添加小数部分
            res = res.join("").concat("." + num[1]);
        } else {
            res = res.join("");
        }
        return res;
    }

    $("#btnSearch").on("click", function () {
        
        var _url = "@Url.Action("HzlkQuery", "ParseTable")";
        $.ajax({
            type: "post",
            data: {
                brandId: $("#brandId").val(), startDate: $("#beginTime").val(), endDate: $("#endTime").val()
            },
            url: _url,
            success: function (result) {
                
                var data =result;
                var data2 = "[";
                var data2_body = "";
                var bodyHtml = "<tbody>";
                var headerHtml = "";
                var ds1s = 0;
                var ds2s = 0;
                var types="";
                var days = DateMinus($("#beginTime").val(), $("#endTime").val());
               var myday= new Date();
               
               if ($("#endTime").val() > myday.toLocaleDateString() || $("#endTime").val() == "") {
                   days=myday.getDate();
                    
                }
              if (isNaN(days)) {
                  days = 30;
              }
              var nus = 0;
              $.each(data, function (i2, items) {
                  nus+=$(items).length;
              });
              
              if (nus == 1 || nus==0) {
                    
                  headerHtml += '<thead><tr style="height:34px;background-color:#E8F7FE;color:#0294DD;"><td  class="lefttxt"  style="width:140px;">品牌</td><td  class="rightttxt" style="width:100px;">洗涤总数</td><td  class="rightttxt" style="width:100px;">合计件数</td><td  class="rightttxt" style="width:150px;">洗涤频率（天/次）</td><td  class="rightttxt" style="width:150px;">洗涤天次（次/天）</td></tr></thead>';

                    $.each(data, function (i, item) {
                        ds1s = ds1s + item.ds;
                        ds2s = ds2s + item.ds2;
                    
                        if (i % 2 == 0) {
                            bodyHtml += ' <tr class="eventr">';
                        } else {
                            bodyHtml += ' <tr class="oddtr">'
                        }

                        bodyHtml += "<td  class='lefttxt' style='width:140px;'><a href='javascript:MyShows(" + item.BrandID + ");'>" + item.BrandName + "</a></td><td class='righttxt' style='width:100px;'>" + numFormat(item.ds) + "</td><td class='righttxt' style='width:100px;'>" + numFormat(item.ds2) + "</td><td class='righttxt' style='width:150px;'>" + (days / (item.ds / item.ds2)).toFixed(2) + "</td><td  class='righttxt' style='width:150px;'>" + (item.ds / item.ds2 / days).toFixed(2) + "</td></tr>"
                          data2_body += '{"品牌":"' + item.BrandName + '","洗涤总数":' + item.ds + ',"合计件数":' + item.ds2 + ',"洗涤频率（天/次）":' + (days / (item.ds / item.ds2)).toFixed(2) + ',"洗涤天次（次/天）":' + (item.ds / item.ds2 / days).toFixed(2) + '},';
                          types="品牌";
                         
                    });
                    
                } else {
                  
                  headerHtml += '<thead><tr style="height:34px;background-color:#E8F7FE;color:#0294DD;"><td  class="lefttxt" style="width:140px;">酒店</td><td  class="righttxt" style="width:100px;">洗涤总数</td><td  class="righttxt" style="width:100px;">合计件数</td><td  class="righttxt" style="width:150px;">洗涤频率（天/次）</td><td class="righttxt" style="width:150px;">洗涤天次（次/天）</td></tr></thead>';

                     $.each(data, function (i, item) {
                         ds1s = ds1s + item.ds;
                         ds2s = ds2s + item.ds2;
                         if (i % 2 == 0) {
                             bodyHtml += ' <tr class="eventr">';
                         } else {
                             bodyHtml += ' <tr class="oddtr">'
                         }
                         
                         bodyHtml += "<td class='lefttxt' style='width:140px;'>" + item.BrandName + "</td><td  class='righttxt' style='width:100px;'>" + numFormat(item.ds) + "</td><td class='righttxt' style='width:100px;'>" + numFormat(item.ds2) + "</td><td  class='righttxt' style='width:150px;'>" + (days / (item.ds / item.ds2)).toFixed(2) + "</td><td class='righttxt' style='width:150px;'>" + (item.ds / item.ds2 / days).toFixed(2) + "</td></tr>"
                         data2_body += '{"酒店":"' + item.BrandName + '","洗涤总数":"' + item.ds + '","合计件数":"' + item.ds2 + '","洗涤频率（天/次）":"' + (days / (item.ds / item.ds2)).toFixed(2) + '","洗涤天次（次/天）":"' + (item.ds / item.ds2 / days).toFixed(2) + '"},';
                         types="酒店";
                         
                    });
                }
                
              bodyHtml += "<tr><td  class='lefttxt' style='width:100px;'>合计</td><td  class='righttxt' style='width:100px;'><b>" + numFormat(ds1s) + "</b></td><td></td><td></td><td></td></tr></tbody>"
                data2_body = data2_body + '{"' + types + '":"合计","洗涤总数":"' + ds1s + '","合计件数":"' + ds2s + '","洗涤频率（天/次）":"' + (days / (ds1s / ds2s)).toFixed(2) + '","洗涤天次（次/天）":"' + (ds1s / ds2s / days).toFixed(2) + '"}]';
             
                data2 =data2+ data2_body;
                
               
                $("#dataReport").children().remove();
                
                $("#dataReport").append(headerHtml + bodyHtml);

                var totalwidth = $("#dataReport").width();
                var dtWidth = totalwidth < 500 ? 500 : totalwidth;
                $("#title").css("margin-left", ((dtWidth - 130) / 2).toString() + "px");
                $("#dataReport").css("width", dtWidth);
                $("#condition").css("width", dtWidth);
                //$("#leftConditon").html("流通品牌：" + $("#brandId").find("option:selected").text());
                $("#rightConditon").html("时间：" + $("#dateTimeRange").val());

                $("#hddCondition").val($("#leftConditon").text() + "|" + $("#rightConditon").text());
                $("#hddTitle").val("布草洗涤频率对比分析表");
                $("#hddData").val(data2);

                $("#btnExportExcel").removeAttr("disabled");
            }
        })
    });

    $("#btnSearch").click();

    $("#btnExportExcel").on("click", function () {
        document.getElementById("formExport").submit();
    });

    function myPrint(obj) {
        $("#print").jqprint({
        });
    }
</script>


