@using ETexsys.Model
@model ETexsys.Model.notice

<style>
    .textarea {
        width: 700px;
        height: 200px;
        visibility: hidden;
    }
</style>
<script>
    var editor;
    $(function () {
        editor = KindEditor.create('#Content', {
            cssPath: '@Url.Content("~/Scripts/plugins/kindeditor/plugins/code/prettify.css")',
            uploadJson: '',
            fileManagerJson: '',
            allowFileManager: true,
        });
    });
</script>

<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">看板公告</h4>
            </div>
            <form class="form-horizontal" id="addCarForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">是否全屏</label>
                        <div class="col-lg-2">
                            @Html.CheckBoxFor(m => m.IsFull, new { @class = "form-control" })
                        </div>
                        <div class="col-lg-8">
                            &nbsp;
                        </div>
                    </div>
                    <div class="form-group" id="data1">
                        <label class="col-lg-2 control-label">开始时间</label>
                        <div class="col-lg-4 input-daterange" style="z-index:2050;">
                            @Html.TextBoxFor(m => m.Start, new { @class = "input-sm form-control" })
                        </div>
                        <label class="col-lg-2 control-label">结束时间</label>
                        <div class="col-lg-4 input-daterange" style="z-index:2050;">
                            @Html.TextBoxFor(m => m.End, new { @class = "input-sm form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(m => m.ID)
                        <label class="col-lg-2 control-label">内容</label>
                        <div class="col-lg-10">
                            <textarea id="Content" name="Content" cols="100" rows="8" style="width:700px;height:200px;visibility:hidden;"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">显示位置</label>
                        <div class="col-lg-10">
                            @*@Html.TextBoxFor(m => m.Position, new { @class = "form-control" })*@
                            <select class="form-control" name="Position" id="Position" onchange="onCusChange()">
                                @foreach (var item in ViewData["RegionList"] as List<region>)
                                {
                                    <option value="@item.ID">@item.RegionName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    //$(document).ready(function () {
    //    $('.summernote').summernote();
    //});
    //var edit = function () {
    //    $('.click2edit').summernote({ focus: true });
    //};
    //var save = function () {
    //    var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
    //    $('.click2edit').destroy();
    //};
</script>